.mat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid;
    border-width: 3px;
    border-color: #0045A1;
    padding: 20px;
}

.mat-card-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.genre-close-button {
    position: absolute;
    right: 3px;
    top: 3px;
}
