<div class="main-page">
  <img src="../../assets/logo.png">
    <h1>
      안녕하세요! <br>
      Welcome to K-Flix!
    </h1>
    <div class="div-buttons">
    <button
      mat-raised-button
      (click)="openUserRegistrationDialog()"
      style="margin-right: 10px;"
      class="register-button"
    >
      Sign Up
    </button>
    <button
      mat-raised-button
      (click)="openUserLoginDialog()"
      style="margin-left: 10px margin-right 10px;"
      class="login-button"
    > 
      Login
    </button>
  </div>

  </div>