<app-navigation></app-navigation>
<div class="movie-view" style="display: flex;">
  <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">
    <mat-card-header>
    <mat-card-title>{{movie.Title}} ({{movie.ReleaseDate}})</mat-card-title>
      <mat-card-subtitle class="director">Directed by: 
        <button class="director-button"
          mat-button
          color="grey"
          (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio)"
        > {{movie.Director.Name}}
        </button>
      </mat-card-subtitle>
    </mat-card-header>
    <img src={{movie.ImagePath}} alt= {{movie.Title}} />
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)"
      >
        {{movie.Genre.Name}}
      </button>

      <button
        mat-raised-button
        color="primary"
        (click)="openSynopsisDialog(movie.Title, movie.Description)"
      >
        Synopsis
      </button>

      <button
        mat-icon-button
        (click)="setFavStatus(movie)"
      >
        <mat-icon *ngIf="isFav(movie._id)">favorite</mat-icon>
        <mat-icon *ngIf="!isFav(movie._id)">favorite_border</mat-icon> 
      </button>
      
    </mat-card-actions>
  </mat-card>
</div>